// Change the parameters below

params.reads = "/scratch/cgsb/gencore/out/Gresham/2018-12-17_H7HVFAFXY/merged/H7HVFAFXY_n{01,02}_AP1-A02.fastq.gz"
params.ref = "/scratch/work/cgsb/genomes/In_house/Fungi/Saccharomyces_cerevisiae/Gresham/UCSC_sacCer3_GAP1/sacCer3.fa"
params.outdir = "/scratch/amh884/nextflow_dev_CNV"
params.bases_trim_5prime_Read1 = 14
params.bases_trim_5prime_Read2 = 14
params.bases_trim_3prime_Read1 = 5
params.bases_trim_3prime_Read2 = 5
params.minimum_read_length = 50