// Change the parameters below

params.reads = <path to reads>
params.ref = <path to reference>
params.outdir = <output directory path>
params.bases_trim_5prime_Read1 = <number>
params.bases_trim_5prime_Read2 = <number>
params.bases_trim_3prime_Read1 = <number>
params.bases_trim_3prime_Read2 = <number>
params.minimum_read_length = <number>